* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/icons8-swamp-25.png");
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#wrapper {
    width: 75%;
    margin: 0px auto 0 auto;
    background-color: white;
}

h1 {
    color: rgb(129, 76, 16);
    margin: 25px auto;
    padding: 0px 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
}

h2 {
    color: rgb(3, 68, 3);
    margin: 25px;
}


.large {
    font-size: 2rem;
}


.logo {
    padding: 20px 20px 20px 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

nav {
    border: 1px solid #aaa;
    padding: 10px 0px;
    height: 70px;
    line-height: 50px;
    background-color: rgb(3, 68, 3);
    font-size: 1.25rem;
    clear: both;
}

nav a,
footer a {
    transition: background-color 250ms 250ms, color 250ms 250ms;
    color: white;
    text-decoration: none;
    text-align: center;

}

nav a {
    padding-left: 15px;
    padding-right: 15px;
}

nav a:nth-child(1) {
    margin-left: 50px;
}


nav a:hover,
footer a:hover {
    background-color: lightgray;
    color: darkblue;
    /* font-size: 1.5rem; */
}


main,
section {
    margin-bottom: 0px;
    padding: 20px 10px 0px 20px;
    margin-left: 20px;
    margin-right:20px;
}

section h2 {
    padding-left: 0px;
}

.long {
    height: 525px;
}

.flex-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.project {
    padding: 10px 0px 10px 0px;
    margin: 10px;
    border: 3px solid rgb(3, 68, 3);
    width: 25%;
    transition: background-color 500ms 0ms, border 500ms 0ms;
}



.project:nth-child(even) {
    background-color: rgb(173, 245, 173);
}

.project:nth-child(odd) {
    background-color: rgb(250, 203, 117);
}

.project:hover {
    /* width: 28%; */
    background-color: lightgray;
    border: 4px solid rgb(3, 68, 3);
}


.project img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.project figcaption {
    padding: 5px;
    text-align: center;
    font-size: .75rem;
    font-weight: bold;
    color: darkblue;
    width: auto;
}

/* styling for form */
label {
    padding-right: 10px;
    font-weight: bold;
    color: rgb(3, 68, 3);
}

legend {
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(129, 76, 16);
}

.name,
.address,
.city-state {
    display: block;
    padding-bottom: 15px;
}

.name input,
.city-state input,
.city-state select {
    width: 20%;
}

fieldset {
    padding: 20px;
    margin-bottom: 20px;
}

.address input {
    width: 80%;
    /* margin: 20 px; */
}

button,
input,
option,
select,
textarea {
    background-color: rgb(173, 245, 173);
    margin-bottom: 5px;
    font-size:1rem;
}

button:active,
input:focus,
select option:focus,
select:focus,
textarea:focus {
    background-color: rgb(250, 203, 117);
    border: 3px solid rgb(129, 76, 16);
    color:  rgb(129, 76, 16);
}

textarea {
    width: 100%;
    margin-bottom: 20px;
}

input[type=radio] {
    margin:10px;
}

input[type="email"] {
    width: 30%;
}

button {
    font-size: 1.25rem;
    color: lightgray;
    font-weight: bold;
    background-color: rgb(129, 76, 16);
    padding: 10px 40px;
    transition: background-color 250ms 0ms, border 250ms 0ms;

}

button:nth-child(2) {
    margin-left: 50px;
}


.position {
    height: 100px;
    position: relative;

}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

input[type="submit"]:focus {
    background-color: rgb(250, 203, 117);
    border: 3px solid rgb(129, 76, 16);
    color: rgb(129, 76, 16);
    

}

.site-selection {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-content:center;
    flex-wrap:wrap;
}

/* end of styling for form */

footer {
    border-top: 1px solid black;
    margin-top: 30px;
    padding: 10px 0px 10px 0px;
    background-color: rgb(3, 68, 3);
    font-size: 100%;
    position: relative;
    min-height: 100%;
}

footer p {
    list-style-type: none;
    color: white;
    text-align: center;
}

footer .clearhover:hover {
    background-color: transparent;
}

.flexbox1 {
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexbox2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.social {
    justify-self: flex-end;
    align-self: center;
}

i {
    font-size: 2rem;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}