* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/icons8-swamp-25.png");
    font-family: 'Roboto', sans-serif;
}


#wrapper {
    width: 75%;
    margin: 0px auto 0 auto;
    background-color: white;

}

h1 {
    color: rgb(129, 76, 16);
    margin: 25px auto;
    padding: 0px 15px 0px 15px;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
    color: rgb(3, 68, 3);
    margin: 25px;

}



.logo {
    padding: 15px 15px 0px 15px;


}

.logo h1 {

    color: rgb(56, 36, 17);
    margin: 0px 0px 10px 0px;
}

.logo img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.logo figcaption {
    font-size: 200%;
    width: 800px;
    color: rgb(56, 36, 17);
    font-weight: bold;


}


nav {
    border: 1px solid #aaa;
    height: 50px;
    line-height: 50px;
    background-color: rgb(3, 68, 3);
    clear: both;

}


nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: skyblue;
    color: darkblue;

}


main,
section {
    margin-bottom: 0px;
    padding: 0px 10px 0px 20px;
}

section h2 {
    padding-left: 0px;
}

.long {
    height:525px;
}



.flex-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;


}

.project {
    padding: 25px 0px 25px 0px;
    margin: 15px;
    border: 2px solid rgb(3, 68, 3);
    width: 25%;
    height: 25%;

}

.project img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


}



.project figcaption {
    padding: 10px;
    text-align: center;

}

.project figcaption:hover {
    background-color: skyblue;
    color: darkblue;
}

a:link {
    color: mediumblue;
}

a:visited {
    color: darkgreen;
}

footer {

    border-top: 1px solid black;
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    background-color: rgb(3, 68, 3);
    color: white;



}


footer p {
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    color: white;

}



footer a {
    color: white;


}

footer a:hover {
    background-color: skyblue;


}

footer .clearhover:hover {
    background-color: transparent;
}
footer a:visited {
    color: white;
}

.flexbox1 {
    margin: 0px 50px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.flexbox2 {
    width: 20%;
    margin: 0px 50px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.social {
    justify-self: flex-end;
    align-self: center;

}

i {
    font-size: 2rem;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}



nav a:visited {
    color: white;
}